 body{
    background-color: black;
 }
/* header style */
header{
    margin: 20px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 30px;
    color: rgba(230, 83, 60, 1);
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    margin-left: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.home{
    color:rgba(230, 83, 60, 1);
}

/* header banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-weight: 1000;
    font-size: 40px;
    color: white;
}
.span{
    font-style: italic;
}
.description{
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.418);
}
.join-btn{
    font-weight: 300;
    font-size: 15px;
    padding: 8px 40px;
    color: white;
    background-color:rgba(230, 83, 60, 1);
    border-radius:20px;
    border:none;
}
.app-btn{
    font-weight: 300;
    font-size: 15px;
    padding: 8px 40px;
    color: white;
    background-color: black;
    border-radius: 20px;
    border:1px solid white;
}
.video{
    background-color:  rgba(168, 156, 156, 0.123);
    width: 100px;
    padding: 2px;
    border-radius: 10px;
    position: relative;
    left: 300px;
    bottom: 400px;
    margin-left: 8px;
    text-align: center;
}
.video-num{
    font-weight: 1000;
    font-size: 30px;
    color: white;
}
.video-details{
    font-weight: 100;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.288);
}
.video-section{
    background-color: rgba(168, 156, 156, 0.123);
    width: 100px;
    padding: 2px;
    border-radius: 10px;
    position: relative;
    color: white;
    left: -50px;
    bottom: 400px;
    text-align: center;
}

/* main style */
main{
    margin: 10px 200px;
}
.main{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.main-title{
    font-weight: 1000;
    font-size: 30px;
}
.habit{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.trainer{
    border-radius: 50%;
}
.train{
    font-weight: 800;
    font-size: 25px;
    color: white;
}

/* calculator  section style */

table, tr, td {
    border: 1px solid  rgba(168, 156, 156, 0.123);
    color: white;
    text-align: center;
}
table {
    border-collapse: collapse;
}
th{
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}
td{
    color: rgba(168, 156, 156, 0.322) ;
    padding: 10px;
}
.calculator{
    background-color: rgba(168, 156, 156, 0.123);
}
.bmi-chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 30px;
}
.bmi-title{
    font-weight: 1000;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.bmi-description{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.418);
}
.chart-title{
    font-weight: 800;
    font-size: 20px;
    color: white;
}
input{
    background-color:rgba(168, 156, 156, 0.123) ;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}
#gender{
    background-color:rgba(168, 156, 156, 0.123) ;
    color:rgba(168, 156, 156, 0.322) ;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 200px;
}
select{
    background-color:rgba(168, 156, 156, 0.123) ;
    color:rgba(168, 156, 156, 0.322) ;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    width: 100%;
}

/* join section style */

.join-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(168, 156, 156, 0.123);
    padding: 40px;
    gap: 50px;
}
.join-title{
    font-weight: 1000;
    font-size: 30px;
    color: white;
}
.run-img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
/* meet section style */

.meet-section{
    background-color:rgba(168, 156, 156, 0.123) ;
    padding: 3px;
    margin-top: 20px;
    text-align: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: space-between;
    align-content: center;
    gap: 15px;
}
.row{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.name{
    font-weight:500;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 70px;
    left: -40px;
}

/* footer style */
.footer{
    background-color:rgba(168, 156, 156, 0.123) ;
    border-radius: 3px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
    padding: 40px;
}
.fitness{
    font-weight: 1200;
    font-size: 30px;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}
.start-title{
    font-weight: 700;
    font-size: 20px;
    color: white;
}
li{
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.418);
    padding: 2px;
}
.foot-description{
    
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.418);
    padding: 12px;
    text-align: center;
}
.line{
    margin: 5px 200px;
    color:rgba(255, 255, 255, 0.418) ;
}



/* mobile responsive*/

@media screen and (max-width:575px){ 
     header{
        margin: 8px 50px;
     }
    nav{
        padding-top: 20px;
    }
    nav>ul{
        display: none;
    }
    .bar{
        display: block;
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
    main{
        margin: 8px 50px;
    }
    .habit{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px 0;
    }
    .join-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px;
        gap: 10px;
    }
    .run-img{
        margin-top: 10px;
    }
    .bmi-chart{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    .team{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    
    } 
    .footer{
        width: 100%;
    }
    .footer-section{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
        padding: 10px;
    }
    .line{
        margin: 10px;
    }
     
}